<%= form_for [@goal, @goal.comments.build] do |f| %>
<div class="input-group">
  <%= f.text_field :content, class: "form-control", placeholder: "친구에게 조언을 해주세요." %>
  <span class="input-group-btn">
    <%= f.submit class: "btn btn-default", value: "남기기" %>
  </span>
</div>
<% end %>