<%= form_for @goal do |f| %>
  <% if user_signed_in? %>
    <div class="input-group">
      <%= f.text_field :content, class: "form-control input-lg", placeholder: "목표를 입력해보세요" %>
      <span class="input-group-btn">
        <%= f.submit class: "btn btn-default input-lg", value: "도와줘!" %>
      </span>
    </div>
  <% else %>
    <%= f.text_field :content, class: "form-control input-lg", placeholder: "먼저 로그인하세요", disabled: true %>
  <% end %>
<% end %>