<div class="inner cover">
  <p class="lead"><%= image_tag "logo.png", class: "img-responsive logo" %></p>
  <h1 class="cover-heading">2015년 목표는 무엇인가요?</h1>
  <h4>새해 목표를 등록하고 친구들의 조언을 구해보세요!</h4>
  <p class="lead">
    <%= render 'form' %>
  </p>

  <%= link_to "다른 사람은 어떤 목표를 썼을까요?", random_goals_path, class: "btn btn-warning" %>

  
</div>