<h1>안녕하세요 <%= @user.name %> !!</h1>

<%= link_to image_tag("facebook-logout.png"), destroy_user_session_path, {method: :delete} %><br />

<iframe src="//www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fwww.naver.com&amp;layout=button&amp;appId=818776511527788" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowTransparency="true"></iframe>