
<h1><%= @goal.content %></h1>

<h2>Comments</h2>
<%= render @goal.comments %>

<h2>Give more Tips!</h2>
<%= render 'comments/form' %>

<% if current_user == @goal.writer %>
<iframe src="//www.facebook.com/plugins/share_button.php?href=<%= @url.html_safe %>&layout=button&appId=818776511527788" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowTransparency="true"></iframe>
<% end %>